.code
.DS_Store
.idea
# Include the msal-browser file
node_modules/**/**/**/**
!node_modules/@azure
!node_modules/@azure/msal-browser
!node_modules/@azure/msal-browser/dist
!node_modules/@azure/msal-browser/**/index.es.js

pkg
package-lock.json
target
Cargo.lock